*Payment bar*/




.box {
    position: absolute;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height:700px;
    padding: 20px;
    background: rgba(0, 0, 0, .8);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: #000066;
    background-color: #000066;
}


.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 100px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}



a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}



/*footer*/
.footer{
    height:20%;
    width:100%;
    position:absolute;
    right:0%;
    top:30%;
    
}
.footimage{
    
    height:85%;
    width:100%;
    position:absolute;
    right:0%;
    top:10%;
    
}
.foot{
    position:absolute;
    top:260%;
    height:30%;
    width:100%;
    right:0%;
    
}
.footcolor{
    color:white;
}



